.Container {
  margin-top: 58px;
  .Logo {
    width: 200px;
  }
  .Title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 500;
  }
  .Text {
    margin-bottom: 16px;
  }
  .Submit {
    color: white;
    padding: 6px 12px;
    background-color: #000;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    &:hover {
      color: white;
      background-color: #000;
    }
  }
  .OtpArea {
    .ResendOtp {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 48px;
    width: 100%;
    .Logo {
      width: 140px;
    }
  }
}