.Header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  .Rows {
    height: 64px;
    display: flex;
    align-items: center;
    .Left {
      display: flex;
      align-items: center;
      padding-left: 25px;
      width: 19%;
      .MenuIcon {
        color: #000;
      }
      .Logo {
        display: flex;
        align-items: center;
        .LogoImg {
          width: 30px;
        }
        .LogoName {
          margin: 3px 0 0 6px;
          letter-spacing: -0.6px;
          font-weight: bold;
          font-size: 22px;
          color: #000;
        }
      }
    }
    .Center {
      width: 50%;
      padding: 0 32px;
    }
    .Right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 31%;
      .IconButton {
        margin: 0 4px;
        .Icon {
          color: #000;
        }
      }
      .Avatar {
        position: relative;
        padding: 8px;
        &:hover .AccountSetting {
          display: block;
        }
        .AvtImg {
          cursor: pointer;
          border: 1px solid #c1c1c1;
        }
        .AccountSetting {
          width: 256px;
          position: absolute;
          display: none;
          margin-top: 6px;
          right: 0;
          border-radius: 8px;
          background-color: #fff;
          border: 1px solid #c1c1c1;
          box-shadow: 0 3px 8px rgba(#000, 0.3);
          z-index: 800;
        }
      }
    }
  }
}
