.Container {
  margin-top: 58px;
  .Logo {
    width: 200px;
  }
  .Title {
    margin-top: 20px;
    font-weight: 500;
  }
  .Text {
    margin: 20px 0;
  }
  .GoToEmail {
    color: #ef5350;
    font-weight: 500;
    display: flex;
    align-items: center;
    .ArrowIcon {
      color: #ef5350;
      margin-right: 4px;
    }
    span {
      font-size: 1.125rem;
    }
  }
  .Submit {
    color: white;
    padding: 6px 12px;
    background-color: #000;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    &:hover {
      color: white;
      background-color: #000;
    }
  }
  .FormControl {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 36px;
    width: 100%;
    .Logo {
      width: 140px;
    }
  }
}
