@import "assets/scss/variables";
@import "assets/scss/mixins";

.FabProgress {
  @include center-inside-element();
}
.Container {
  margin-top: 64px;
  .Title {
    margin: 10px 0;
  }
  .Submit {
    color: $color-default-lightest;
    margin-top: 20px;
    @include border-radius(20px);
    background-color: $color-default-darkest;
    border: 2px solid $color-default-darkest;
    &:hover {
      color: $color-default-lightest;
      background-color: $color-default-darkest;
    }
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 24px;
    .Submit {
      width: 100%;
    }
  }
}
