@import "assets/scss/variables";
@import "assets/scss/mixins";

.Wrapper {
  width: 450px;
  @include border-radius(8px);
  padding: 3px;
  overflow: hidden;
  background-color: $color-default-lightest;
  border: 1px solid $color-default-lighter;
  @include box-shadow();
  .Title {
    width: 100%;
    padding: 45px 0;
    @include border-radius(5px);
    background-color: #eee;
    text-align: center;
    > h2 {
      line-height: 1.7;
      text-transform: uppercase;
      font-weight: $fw-bold;
      @include font-size($fs-max);
    }
    > span {
      @include font-size($fs-medium);
      font-weight: $fw-light;
    }
  }
  .FormWrapper {
    position: relative;
    padding: 40px 25px;
    .FabProgress {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
    .Submit {
      margin-top: 20px;
      color: $color-default-lightest;
      @include border-radius(20px);
      background-color: $color-default-darkest;
      border: 2px solid $color-default-darkest;
      &:hover {
        color: $color-default-lightest;
        background-color: $color-default-darkest;
      }
    }
  }
}
