@import "../../../assets/scss/helpers/variable.scss";

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  z-index: 10000;
  .SugarcubeSpinner {
    position: relative;
    &:before {
      content: "";
      position: relative;
      display: block;
      animation: sugarcube-spinner 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
      border-radius: 15px;
      width: 1em;
      height: 1em;
      background-image: linear-gradient(45deg, $color-blue-1, $color-blue-0);
    }
    &:after {
      content: "";
      position: relative;
      display: block;
      animation: spinner-shadow 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
      bottom: -0.5em;
      height: 0.25em;
      border-radius: 50%;
      background-color: rgba($color-black-0, 0.7);
    }
  }
}
.OverlayLoader {
  background-color: $color-white-0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes sugarcube-spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes spinner-shadow {
  50% {
    transform: scale(0.5);
    background-color: $color-black-0;
  }
}
