.Container {
  margin-top: 64px;
  .Title {
    margin: 10px 0;
  }
  .Submit {
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #000;
    border: 2px solid #000;
    &:hover {
      color: white;
      background-color: #000;
    }
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 24px;
    .Submit {
      width: 100%;
    }
  }
}
