.Container {
  margin: 58px 80px 0;
  .Title {
    margin: 10px 0;
  }
  .Submit {
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #000;
    border: 2px solid #000;
    &:hover {
      color: white;
      background-color: #000;
    }
  }
}
