* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

html,
body {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

button {
  text-transform: none !important;
  &:focus {
    outline: none !important;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none !important;
}
