@import "assets/scss/variables";
@import "assets/scss/mixins";

.Container {
    margin-bottom: 16px;
    .SubjectName {
        cursor: pointer;
        font-weight: $fw-bold;
        text-transform: uppercase;
        letter-spacing: -0.3px;
        @include flex();
        align-items: center;
        margin-bottom: 16px;
        @include font-size($fs-default);
        &::before {
            content: "";
            position: relative;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            margin-left: 10.2px;
            display: block;
            border: 4px solid $color-default-darkest;
            background-color: $color-default-lightest;
            @include border-radius(50%);
            z-index: 2;
        }
    }
    .Root {
        @include flex();
        align-items: center;
        margin-right: 0;
        margin-left: -2px;
        .Label {
            font-weight: $fw-bold;
            text-transform: uppercase;
            letter-spacing: -0.3px;
            @include font-size($fs-default);
        }
    }
    .ItemRoot {
        @include flex();
        margin-left: 27px;
        margin-right: 0;
        .ItemLabel {
            @include font-size($fs-regular);
        }
    }
    .CheckBox {
        color: $color-default-darkest;
        &:hover {
            @include background-opacity($color-default-darkest, 0.08);
        }
    }
    span.Checked {
        color: $primary-classic-blue;
        &:hover {
            @include background-opacity($primary-classic-blue, 0.08);
        }
    }
}

.Bubble {
    margin-bottom: 0;
}
