@import "styles/variables";
@import "styles/mixin";

.FabProgress {
  @include center-inside-element();
}
.Container {
  width: 80%;
  margin: 100px auto 0;
  .Logo {
    width: 200px;
  }
  .Title {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: $fw-bold;
    @include font-size($fs-max);
  }
  .SubTitle {
    margin: 32px 0 40px;
    font-weight: $fw-medium;
    @include font-size($fs-medium);
  }
  .Buttons {
    margin-top: 20px;
    @include flex();
    justify-content: space-between;
    .BtnSignUp {
      width: 49%;
      > button {
        color: $color-default-lightest;
        @include border-radius(20px);
        background-color: $color-default-darkest;
        border: 2px solid $color-default-darkest;
        &:hover {
          color: $color-default-lightest;
          background-color: $color-default-darkest;
        }
      }
    }
    .BtnSignIn {
      color: $color-default-darkest;
      @include border-radius(20px);
      background-color: $color-default-lightest;
      border: 2px solid $color-default-darkest;
      width: 49%;
      &:hover {
        color: $color-default-darkest;
        background-color: $color-default-lightest;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 58px;
    width: 100%;
    .Logo {
      width: 140px;
    }
  }
}