@import "assets/scss/variables";
@import "assets/scss/mixins";

.Container {
    position: relative;
    .ClassroomInfo {
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        height: 26.2vh;
        @include box-shadow();
        @include border-radius(8px);
        background-color: $color-default-lightest;
        .Background {
            @include overlay-full(absolute);
            @include background-size(cover);
            height: 19.5vh;
            &::after {
                content: "";
                display: block;
                background-image: radial-gradient(600px 440px ellipse at top left, $color-default-darkest, transparent);
                @include overlay-full(absolute);
                @include opacity(0.85);
            }
        }
        .InfoContent {
            position: relative;
            width: 60%;
            height: 19.5vh;
            padding: 16px;
            color: $color-default-lightest;
            > h1 {
                margin-bottom: 5px;
                @include font-size($fs-bigger);
            }
            > p {
                margin-bottom: 5px;
                @include font-size($fs-semi);
            }
        }
        .Sticky {
            .StickyOverlay {
                position: absolute;
                width: 104%;
                left: -12px;
                top: -27px;
                height: 70px;
                background-color: $color-standard;
            }
            > div.Navigation {
                border: 1px solid transparent;
                .NavLink {
                    @include opacity(0.7);
                    padding: 0 16px;
                }
                .NavLinkActive {
                    @include opacity(1);
                    &::after {
                        display: none;
                    }
                }
                &:hover {
                    @include border-radius(8px);
                    border: 1px solid $color-default-lighter;
                    .NavLink {
                        @include opacity(1);
                        padding: 12px 16px;
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
        .Navigation {
            position: relative;
            width: 100%;
            padding: 3px 0;
            background-color: $color-default-lightest;
            > div {
                @include flex();
                @include element-center(76%);
                justify-content: space-between;
                align-items: center;
                .NavLink {
                    display: inline-block;
                    position: relative;
                    padding: 12px 16px;
                    font-weight: $fw-bold;
                    @include border-radius(8px);
                    &:hover {
                        background-color: $color-default;
                    }
                }
                .NavLinkActive {
                    color: $vivid-blue;
                    &:hover {
                        background-color: transparent;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: $vivid-blue;
                    }
                }
            }
        }
    }
}
