@import "assets/scss/variables";
@import "assets/scss/mixins";

.Container {
  list-style: none;
  padding: 3px;
  background-color: $color-default-lightest;
  border: 1px solid $color-default-lighter;
  width: 345px;
  @include box-shadow();
  @include border-radius(8px);
  .Header {
    position: relative;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    @include flex();
    @include border-radius(5px);
    .LectureAvt {
      margin-right: 8px;
      border: 1px solid $color-default-lighter;
      background-color: $primary-classic-blue;
      @include font-size($fs-medium);
    }
    h6 {
      @include font-size($fs-regular);
    }
    .Lecture {
      color: $color-default-darker;
      @include font-size($fs-min);
    }
  }
  .InfoItem {
    margin-top: 5px;
    .Content {
      cursor: pointer;
      align-items: center;
      padding: 5px 21px;
      color: $color-default-darkest;
      @include flex();
      .Icon {
        margin-right: 16px;
      }
    }
  }
}
