.Container {
  margin: 58px 80px 0;
  .Title {
    margin-top: 20px;
    font-weight: 500;
  }
  .Text {
    margin: 20px 0;
  }
  .Submit {
    color: white;
    padding: 6px 12px;
    background-color: #000;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    &:hover {
      color: white;
      background-color: #000;
    }
  }
  .OtpArea {
    .ResendOtp {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}
