@import "assets/scss/variables";
@import "assets/scss/mixins";

.Control {
    flex-wrap: wrap;
    justify-content: space-between;
    @include flex();
    .SchoolYear {
        flex-grow: 8;
        margin-right: 16px;
    }
    .Semester {
        flex-grow: 1;
    }
}

.Classrooms {
    flex-wrap: wrap;
    justify-content: space-between;
    @include flex();
}