@import "styles/variables";
@import "styles/mixin";

.Container {
    position: relative;
    .Menu {
        position: absolute;
        list-style: none;
        width: 180px;
        margin-top: 6px;
        right: 0;
        z-index: 3;
        background-color: $color-default-lightest;
        border: 1px solid $color-default-lighter;
        @include border-radius(8px);
        @include box-shadow();
        &::before {
            content: "";
            position: absolute;
            background-color: $color-default-lightest;
            border-left: 1px solid $color-default-lighter;
            border-top: 1px solid $color-default-lighter;
            transform: rotate(45deg);
            top: -6px;
            right: 18px;
            width: 10px;
            height: 10px;
        }
        .MenuItem {
            position: relative;
            overflow: hidden;
            margin: 3px;
            z-index: 4;
            @include border-radius(5px);
            .Item {
                @include flex();
                align-items: center;
                cursor: pointer;
                padding: 5px 16px;
                color: $color-default-darkest;
                &:hover {
                    background-color: $primary-classic-blue;
                    color: $color-default-lightest;
                }
                .Icon {
                    margin-right: 8px;
                }
            }
        }
    }
}
