@import "assets/scss/variables";
@import "assets/scss/mixins";

.Container {
  position: relative;
  border: 1px solid $color-default-lighter;
  background-color: $color-default-lightest;
  @include border-radius(8px);
  &:hover {
    background-color: #f9f9f9;
  }
  .Icon {
    position: absolute;
    color: #c1c1c1;
    width: 40px;
    height: 100%;
    @include flex();
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .ColorChanged {
    color: $color-default-darkest;
  }
  .InputBase {
    padding-left: 40px;
    padding-right: 8px;
    width: 100%;
  }
}

.BorderColorChanged {
  border: 1px solid $color-default-darkest;
}
