.Container {
  margin: 10px 80px;
  .Form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .Submit {
      color: #000;
      border-radius: 20px;
      background-color: white;
      border: 2px solid #000;
      &:hover {
        color: #000;
        background-color: white;
      }
    }
  }
}
