@import "assets/scss/variables";
@import "assets/scss/mixins";

.FabProgress {
  @include center-inside-element();
}
.Container {
  margin-top: 58px;
  .Logo {
    width: 200px;
  }
  .Title {
    margin-top: 20px;
    font-weight: $fw-medium;
  }
  .Text {
    margin: 20px 0;
  }
  .GoToEmail {
    color: $color-red-400;
    font-weight: $fw-medium;
    @include flex();
    align-items: center;
    .ArrowIcon {
      color: $color-red-400;
      margin-right: 4px;
    }
    span {
      @include font-size($fs-medium);
    }
  }
  .Submit {
    padding: 6px 12px;
    margin-top: 20px;
    color: $color-default-lightest;
    background-color: $color-default-darkest;
    border: 2px solid $color-default-darkest;
    @include border-radius(20px);
    &:hover {
      color: $color-default-lightest;
      background-color: $color-default-darkest;
    }
  }
  .FormControl {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .Container {
    margin-top: 36px;
    width: 100%;
    .Logo {
      width: 140px;
    }
  }
}
