.Container {
  list-style: none;
  padding: 3px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-shadow: 0 3px 8px rgba(#000, 0.3);
  width: 345px;
  .Header {
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    .LectureAvt {
      margin-right: 8px;
      border: 1px solid #c1c1c1;
      background-color: #0f4c81;
      font-size: 15px;
    }
    .Lecture {
      color: #606060;
      font-size: 11px;
    }
  }
  .InfoItem {
    margin-top: 5px;
    .Content {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px 21px;
      color: #000;
      .Icon {
        margin-right: 16px;
      }
    }
  }
}
