.Container {
  margin: 58px 80px 0;
  .Text {
    margin: 30px 0;
  }
  .Submit {
    color: white;
    background-color: #1da1f2;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #1da1f2;
    &:hover {
      color: white;
      background-color: #1da1f2;
    }
  }
  .OtpArea {
      .ResendOtp {
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
  }
}
