@import "styles/variables";
@import "styles/mixin";

.Container {
  width: 100%;
  @include flex();
  .Left {
    width: 50%;
    background-color: $primary-classic-blue;
    color: $color-default-lightest;
    height: 100vh;
    @include flex();
    align-items: center;
  }
  .Right {
    width: 50%;
    padding-top: 10px;
    height: 100vh;
    .Inner {
      width: 75%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .Container {
    flex-direction: column-reverse;
    .Left {
      width: 100%;
      height: auto;
    }
    .Right {
      width: 100%;
      height: calc(100vh - 40px);
      .Inner {
        width: 90%;
      }
    }
  }
}
