.Container {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  margin-bottom: 25px;
  border-radius: 8px;
  padding: 8px;
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Left {
      display: flex;
      align-items: center;
      .AvtImg {
        cursor: pointer;
        margin-right: 8px;
        border: 1px solid #c1c1c1;
      }
      .PostedBy {
        cursor: pointer;
      }
      .PostedAt {
        color: #606060;
        font-size: 12px;
      }
    }
  }
  .Body {
    .Content {
      padding: 8px 0;
    }
    .Img {
      width: 100%;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .IconButtons {
      display: flex;
      align-items: center;
      .IconButton {
        &:hover {
          background-color: transparent;
        }
      }
      .IsTrue {
        color: #F44336;
      }
      .IsFalse {
        color: #000;
      }
    }
  }
}
