@import "styles/variables";
@import "styles/mixin";

.Header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background-color: $color-default-lightest;
  border-bottom: 1px solid $color-default-lighter;
  .Rows {
    height: 64px;
    @include flex();
    align-items: center;
    .Left {
      @include flex();
      align-items: center;
      padding-left: 25px;
      width: 19%;
      .MenuIcon {
        color: $color-default-darkest;
      }
      .Logo {
        @include flex();
        align-items: center;
        .LogoImg {
          width: 30px;
        }
        .LogoName {
          margin: 3px 0 0 6px;
          letter-spacing: -0.6px;
          font-weight: $fw-bold;
          color: $color-default-darkest;
          @include font-size($fs-big);
        }
      }
    }
    .Center {
      width: 50%;
      padding: 0 32px;
    }
    .Right {
      @include flex();
      align-items: center;
      justify-content: flex-end;
      width: 31%;
      .IconButton {
        margin: 0 4px;
        .Icon {
          color: $color-default-darkest;
        }
      }
      .Avatar {
        position: relative;
        padding: 8px;
        &:hover .AccountSetting {
          display: block;
        }
        .AvtImg {
          cursor: pointer;
          border: 1px solid $color-default-lighter;
        }
        .AccountSetting {
          width: 256px;
          position: absolute;
          display: none;
          margin-top: 6px;
          right: 0;
          z-index: 3;
          background-color: $color-default-lightest;
          border: 1px solid $color-default-lighter;
          @include border-radius(8px);
          @include box-shadow();
        }
      }
    }
  }
}
