@import "assets/scss/variables";
@import "assets/scss/mixins";

.ImageItem {
  width: 100px;
  height: 100px;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $color-default;
  position: relative;
  @include border-radius(5px);
  overflow: hidden;
  margin-right: 4px;
  &:hover .Overlay {
    @include opacity(1);
  }
  .Position {
    position: absolute;
    top: 2px;
    left: 2px;
    @include box-square(20px);
    @include border-radius(4px);
    @include font-size($fs-small);
    color: $color-default-lightest;
    background-color: $color-default-darkest;
    z-index: 1;
  }
  .Overlay {
    position: absolute;
    @include background-opacity($color-default-darkest, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(0);
    @include transition();
    will-change: opacity;
    .CloseIcon {
      float: right;
      color: $color-default-lightest;
      @include opacity(0.6);
      @include transition();
      will-change: opacity;
      &:hover {
        @include opacity(1);
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
