@import "styles/variables";
@import "styles/mixin";

.Wrapper {
  margin-top: calc(64px + 25px);
  @include flex();
  .Navbar {
    width: 19%;
  }
  .Children {
    width: 50%;
  }
  .Classrooms {
    width: 31%;
  }
}
