.Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .Wrapper {
    position: relative;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    &:focus {
      outline: none;
    }
    .FabIcon {
      background-image: linear-gradient(-135deg, #ef5350, #b71c1c);
      color: white;
    }
    .FabProgress {
      color: #000;
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      z-index: 1;
    }
  }
}
