@import "assets/scss/variables";
@import "assets/scss/mixins";

.Container {
    position: relative;
    @include flex();
    align-items: center;
    margin-bottom: 10px;
    .Content {
        cursor: pointer;
        &:hover {
            color: $vivid-blue;
            + .Hover {
                display: block;
            }
        }
    }
    .Hover {
        display: none;
        position: absolute;
        left: -1px;
        top: 27px;
        width: 340px;
        z-index: 3;
        background-color: $color-default-lightest;
        padding: 8px;
        @include border-radius(8px);
        @include box-shadow();
        > div {
            @include flex();
            align-items: center;
            .Icon {
                margin-right: 19px;
            }
            > ul > li {
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        margin-right: 8px;
        margin-left: 34px;
        display: block;
        background-color: $color-default-darkest;
        @include border-radius(50%);
        z-index: 2;
    }
    .Line {
        position: absolute;
        top: -28px;
        left: 17.5px;
        display: block;
        width: 1.5px;
        height: 28px;
        background-color: $color-default-darkest;
        &::after {
            content: "";
            position: absolute;
            top: 52px;
            left: -5px;
            width: 20px;
            border-bottom: 1.5px solid $color-default-darkest;
            @include transform(translateY(-20px) translateX(5px) rotate(27deg));
        }
    }
}

.Active {
    > span.Line {
        background-color: $vivid-blue;
        &::after {
            border-color: $vivid-blue;
        }
    }
    > span.Content {
        color: $vivid-blue;
        font-weight: $fw-bold;
    }
    &::before {
        background-color: $vivid-blue;
    }
}