.ClassItems {
  width: 48%;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  margin-bottom: 16px;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  .Wrapper {
    position: relative;
    border-radius: 6px;
    height: 56px;
    width: 100%;
    background-color: #eee;
    padding: 8px 6px;
    .ClassName {
      letter-spacing: -0.3px;
      text-transform: uppercase;
    }
    .LectureAvt {
      position: absolute;
      background-color: #0f4c81;
      height: 30px;
      width: 30px;
      bottom: -16px;
      right: 8px;
      border: 3px solid #fff;
      font-size: 15px;
    }
  }
  .LectureName {
    padding: 8px 6px;
    letter-spacing: -0.3px;
  }
  .Hover {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &:hover .Hover {
    display: block;
  }
}
