.Container{
  margin: 80px 200px 0;
  .Title {
    margin-top: 20px;
    font-weight: bold;
  }
  .SubTitle {
    margin: 40px 0 15px;
    font-weight: bold;
  }
  .Button {
    color: white;
    background-color: #1da1f2;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #1da1f2;
    &:hover {
      color: white;
      background-color: #1da1f2;
    }
  }
}