// variable color
$color-black-0: #000; // default
$color-black-1: #282828;
$color-black-2: #1f1f1f;
$color-gray-0: #909090;
$color-gray-1: #aaaaaa;
$color-gray-2: #4e4e4e;
$color-gray-3: #656981;
$color-white-0: #fff; //default
$color-white-1: #f5f6fb;
$color-blue-500: #3f51b5; // primary
$color-blue-0: #470f92;
$color-blue-1: #2ac5dd;
$color-blue-2: #292f4b;
$color-blue-3: #0277bd;
$color-blue-4: #519ded;
$color-blue-5: #38e5c7;
$color-yellow-0: #ffe436;
$color-yellow-1: #a59427;
$color-red-400: #ef5350;
$color-red-900: #b71c1c;
$color-green-400: #66bb6a;
$color-green-900: #1b5e20;

// variable font-size
$fs-0: 16px; //default
$fs-1: 18px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 40px;

//variable font-weight
$fw-normal: normal;
$fw-bold: bold;
$fw-bold-0: 500;
$fw-bold-1: 700;

// variable letter-spacing
$lsp-0: 0.1px; //default
$lsp-1: -0.5px;
$lsp-2: 0.6px;
$lsp-3: 0.5px;

// variable transform: scale
$scale-active: 0.9;

// variable transition
$transi-0: transform 0.3s ease-in-out;

// variable responsive design
$screen-xs: 500px; // Extra small devices
$screen-sm: 576px; // Small devices
$screen-md: 768px; // Medium devices
$screen-lg: 992px; // Large devices
$screen-xl: 1200px; // Extra large devices
